/*REMEMBER TO CTRL-SHIFT-DELETE TO CLEAR THE CACHE ON CHROME!*/

/*
TO DO LIST:
-Add a dark mode
-Edit navbar with proper naming schemes
-clamp nav window width to allow menu items to spread out properly in mobile form factor
-Remove the content wrapper in to the other pages and adjust the javascript to make sure it still works.
-Continue trying to figure out how to center the content without a wrapper
-Look up object-fit to see what it's actually doing behind the scenes.
-finish cleaning up css and fixing footer on art section
*/

/*Two color basic monochrome palette
Almost white: #f9f1ed
Dark gray: #282726
*/

/*Possible color palette for dark mode:
Dark grey: #040106
Cream color: #ddc691
Subtle green: #49ac51
*/

/*alternate pallette:
#05141a
#d7d4d1
#fd583c
#857139
*/

/*Common values defined into variables*/
:root {
  --off-white: #f9f1ed;

  --dark-slate-upshade: #393837;

  --muted-green: #49ac51;

  --dark-slate: #282726;

  --trans-nav-button-background: rgba(0, 0, 0, 0.7);

  --muted-green-filter: brightness(0%) saturate(100%) invert(54%) sepia(55%) saturate(486%) hue-rotate(74deg) brightness(95%) contrast(87%);
}


noscript {
  background: #7DD;
}

body{
  background: var(--off-white);
  width: 100dvw;
  margin: 0;
  padding: 0;
  color: var(--dark-slate);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, Geneva, sans-serif;
}

h3{
  text-align: center;
  font-weight: bold;
  color: var(--dark-slate);
}

#emailHideBox {
  display: inline-block;
  background: #88F;
  color: #FFF;
  border-radius: 5px;
  padding: 5px;
}

#profileVoiceoverImg {
  border-radius: 100%;
  border: 5px solid #AAA;
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#voiceOverDemo {
  width:100%;
  border-radius: 4px;
}

.navWindow{
  background: var(--dark-slate);
  height: 20vh;
  display: flex;
  width: 100%;
  box-shadow: 0 0 10px var(--off-white);
  justify-content: center;
  flex-direction: row;
  flex-flow: column wrap;
}

.navWindow .navItem{
  width: min(15vw, 20vw);
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  background: var(--dark-slate);
  height: 5rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  color: var(--muted-green);
  transition: flex 90ms ease-in, background 90ms ease-in, color 90ms ease-in;
}

.navWindow .navItem:hover{
  background: var(--off-white);
  flex: 1.2 1;
  color: var(--dark-slate);
}

.navWindow .navItem img{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 2rem;
  width: auto;
  display: block;
  filter: var(--muted-green-filter);
}

#footer{
  min-height: 10rem;
  font-size: 0.7rem;
  padding: 0.3rem;
  font-family: Tahoma, Geneva, monospace;
  color: var(--dark-slate-upshade);
  text-align: center;
}

#tagsPanel{
  background: #D7D7D7;
  width: 100%;
  padding: 0.2em;
}

.galleryNavigationButtons {
  z-index: 2;
  position: absolute;
  padding: 1rem;
  color: white;
  width: 5%;
  height: auto;
  background: var(--trans-nav-button-background);
  border-radius: 100%;
}

#galleryLeftButton {
  top: 50%;
  left: 1%;
}

#galleryRightButton {
  top: 50%;
  right: 1%;
}

.content{
  background: var(--off-white);
  min-height: 70vh;
  width: clamp(45ch, 50%, 75ch);
  font-size: clamp(0.5em, 3.5vw, 1.2em);
  line-height: 1.4em;
}

#artContentPanel{
  text-align: center;
  display: flex;
  padding: 0 5vw 0 5vw;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
}

#galleryPopupContainer{
  z-index: 1;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--trans-nav-button-background);
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#galleryPopupExit{
  z-index: 2;
  position: fixed;
  top: 1vw;
  right: 1vw;
  width: clamp(8vw, 5vw, 4vw);
  height: clamp(8vw, 5vw, 4vw);
  background: var(--trans-nav-button-background);
  box-shadow: 0 0 10px black;
  border-radius: 100%;
  justify-content: center;
}

.galleryPopupImage {
  z-index: 1;
  width: 90vw;
  height: auto;
  object-fit: contain;
}

.galleryImageContainer {
  position: relative;
}

.galleryImage{
  height: 20rem;
  align-self: center;
  margin: 0.5rem;
  flex-grow: 1;
  transition: height 200ms ease-in, width 200ms ease-in, margin 200ms ease-in, box-shadow 200ms ease-in;
}

.galleryImage:hover{
  box-shadow: 0 0 15px black;
  height: 21rem;
  margin: 0;
}

.imageTags{
  background: #DDD;
  padding: 0.6em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 0.8em;
  text-align: center;
  color: var(--dark-slate-upshade);
  display: inline-flex;
  justify-content: space-between;
  margin: 0.3em;
  border-radius: 0.3em;
}

.imageTags:hover{
  background: #EEE;
}