body {
  //background-image: url("http://science-all.com/images/wallpapers/landscape-wallpaper/landscape-wallpaper-25.jpg");
  //background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg");
  //background-image: url("https://static.pexels.com/photos/4062/landscape-mountains-nature-lake.jpeg");
  background-image: url("https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg");
  //background-size: 2350px;
  background-size: 3456px;
  height: 100%;
  margin: 0;
}

.stepsContent {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  width:250px;
  color: white;
  min-height: 80px;
  background: rgba(105,20,29,0.9);
  margin: auto;
  padding: 0 3px 3px 3px;
}

.stepsContent h4 {
  background: #222222;
  height: 50px;
  line-height: 50px;
}

.redRoundel {
  border: 6px solid #3267A2;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  border-radius: 100%;
  background: #3267A2;
}

.redRoundel span {
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  color: white;
}

.redRoundel img {
  height: 100%;
  width: auto;
  margin: auto;
  display: block;
}

.button {
  background: #AD0012;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: 'questrial', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #F1F1F1;
}

#header{
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 10px 10px 10px 20px;
  height: 10%;
  font-size: 50px;
  background-color: #8AB5E0;
  font-style: cursive sans-serif;
}

#header_logo {
  min-width: 320px;
  height: auto;
  width: 30%;
  clear: left;
  z-index: 2;
  padding: 10px;
  background: #222222;
  box-shadow: 0 0 8px #222222;
}

#navigation {
  background: #222222;
  //background: #8AB5E0;
  position: fixed;
  top: 0%;
  width: 320px;
  height: 100%;
  z-index: 3;
  box-shadow: 0 0 5px #222222;
}

#navtab {
  left: -60px;
  position: relative;
  height: 58px;
  width: 60px;
  z-index: 3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  background: rgba(10,10,10,0.5);
  //background: #222222;
  //background: #8AB5E0;
  line-height: 58px;
  color: white;
  font-family: 'questrial', sans-serif;
  box-shadow: 0 0 5px #222222;
}

#contentFrame {
  width: 100%;
  height: 2500px;
  font-family: 'questrial';
  font-size: 20px;
  color: #443333;
  z-index: -2;
}

#mainContent {
  float: right;
  display: inline-block;
  top: 0;
  width: Calc(85% - 200px);
  padding: 40px 100px 10px 100px;
  height: 100%;
  background: rgba(255,255,255,0.9);
  line-height: 40px;
}

#mainContent iframe {
  display: inline-block;
  margin: auto;
}

#mainContent h2 {
  font-family: 'questrial';
}

#sideFringe {
  float: left;
  background: rgba(255,255,255,0.9);
  background-image: url("/img/streamdeco2.png");
  background-position: center 0;
  background-repeat: repeat-y;
  display: inline-block;
  top: 0;
  width: 30%;
  height: 100%;
  min-width: 282px;
  max-width: 320px;
}

//#sideFringe img {
  z-index: 1;

}

.navUnhidden {
  right: 0px;
}

.navHidden {
  right: -320px;
}

#footer{
  box-shadow: 0 0 5px black;
  min-height: 100px;
  height: 10%;
  width: 100%;
  font-size: 12px;
  color: white;
  font-size: 20px;
  background: #8AB5E0;
  font-family: 'questrial';
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
