/*REMEMBER TO CTRL-SHIFT-DELETE TO CLEAR THE CACHE ON CHROME!*/

/*
TO DO LIST:
-Add a dark mode
-Find out if you can make a css color filter into a variable
-Edit navbar with proper naming schemes
-Why do I still have -webkit-flex in my code? Reason?
-Make menu buttons not overlap each other with box shadow
*/

/*Two color basic monochrome palette
Almost white: #f9f1ed
Dark gray: #282726
*/

/*Possible color palette for dark mode:
Dark grey: #040106
Cream color: #ddc691
Subtle green: #49ac51
*/

/*alternate pallette:
#05141a
#d7d4d1
#fd583c
#857139
*/

/*Common values defined into variables*/
:root {
  --off-white: #f9f1ed;

  --dark-slate-upshade: #393837;

  --muted-green: #49ac51;

  --dark-slate: #282726;
}

/*!!!!MAKE THIS A PROPER ID LATER!!!!*/
audio {
  width:100%;
  border-radius: 4px;
}

noscript {
  background: #7DD;
}

body{
  /*background: #DDD;*/
  /*background: #AFE0A0;*/
  background: var(--off-white);
  width: 100dvw;
  margin: 0;
  padding: 0;
  color: var(--dark-slate);
}

h3{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  font-weight: bold;
  color: var(--dark-slate);
}

p{
  font-family: Tahoma, Geneva, sans-serif;
  /*text-align: center;*/;
}

#emailHideBox {
  display: inline-block;
  background: #88F;
  color: #FFF;
  border-radius: 5px;
  padding: 5px;
}

/*BETTER WAY TO DO THIS?*/
#profileVoiceoverImg {
  border-radius: 100%;
  border: 5px solid #AAA;
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navWindow{
  background: var(--dark-slate);
  height: auto;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 0 10px var(--off-white);
  justify-content: center;
  /*justify-content: space-around;*/
  flex-direction: row;
  flex: 3 1 auto;
  /*flex-wrap: wrap;*/
}

.navWindow .navItem{
  min-width: 4rem;
  display: flex;
  flex: 1 1;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  background: var(--dark-slate);
  height: 5rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  color: var(--muted-green);
  transition: flex 90ms ease-in, background 90ms ease-in, color 90ms ease-in;
}

.navWindow .navItem:hover{
  background: var(--off-white);
  flex: 2 1;
  color: var(--dark-slate);
}

.navWindow .navItem img{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 2rem;
  width: auto;
  display: block;
  filter: brightness(0%) saturate(100%) invert(54%) sepia(55%) saturate(486%) hue-rotate(74deg) brightness(95%) contrast(87%);
}

#header{
  height: 5em;
  padding: 0.2em;
  background-color: #AEA;
  margin-top: -8px;
  font-size: 70%;
}

#header img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8px solid #666;
  height: auto;
  max-height: 100vh;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}


#footer{
  min-height: 16px;
  font-size: 12px;
  padding: 4px;
  font-style: Tahoma, Geneva, monospace;
  color: #333;
  /*background-color: rgba(240,240,240,0.25);*/
  /*position: fixed;*/
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

#tagsPanel{
  background: #D7D7D7;
  width: 100%;
  padding: 0.2em;
}

.InlineBlockDisplay {
  display: inline-block;
}

.content{
  background: var(--off-white);
  max-height: 100%;
  width: auto;
  padding: 7em 11em 7em 11em;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.4em;
  min-height: 80vh;
}

#artContentPanel{
  text-align: center;
  display: flex;
  padding: 0 5vw 0 5vw;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: 100vh;
}

.galleryImage{
  height: 15vw;
  align-self: center;
  background: green;
  margin: 2rem;
  flex-grow: 1;
  transition: height 100ms ease-in, width 100ms ease-in;
}

.galleryImage:hover{
  box-shadow: 0 0 15px black;
  height: 16vw;
}

.imageTags{
  background: #DDD;
  padding: 0.6em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 0.8em;
  text-align: center;
  color: #222;
  display: inline-block;
  margin: 0.3em;
  border-radius: 0.3em;
}

.imageTags:hover{
  background: #EEE;
}

/*Need to make this float above the gallery image*/
.galleryImageMag{
  width: 10%;
  z-index: 1;
  height: auto;
}


@media handheld, screen and (max-width: 950px){
  .navWindow{
    flex-wrap: wrap;
    flex: 1;
  }
  .navWindow .navItem{
    flex: 0.2 0.2 30%;
    font-size: 1.1em;
  }
  #header{
    font-size: 50%;
  }
  .navWindow .navItem:hover{
    background: #FFF;
    flex-grow: 1;
  }
  .content{
    margin: -1em 2em -1em 2em;
    padding: 2em 1em 2em 1em;
    font-size: 0.8em;
    line-height: 2em;
  }
}
